#name input{
margin-left: 50px;
}
#address input{
    margin-left: 36px;
}
#City input{
margin-left: 60px;
}
#states input{
    margin-left: 55px;
}
#zip input{
margin-left: 64px;
}
#magazines1 select{
    margin-left: 22px;
}
#Subscription input{
margin-left: 5px;
}
        
    

    
        